.my-footer-div{
    margin-top : 25px;
    background-color: #163b65;
    color: white;
    font-size: 80%;
    padding: 1.5em;
    
 }
 .room-image {
    
     max-width: 50%;
     margin: auto;
 }

 .datepicker{

 z-index:10000
 }



 .my-footer-div{
    margin-top : 25px;
    background-color: #163b65;
    color: white;
    font-size: 80%;
    padding: 1.5em;
    
 }
 .room-image {
    
     max-width: 50%;
     margin: auto;
 }