{{define "base"}}
   <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" >
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.1.4/dist/css/datepicker-bs4.min.css">
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/notie/dist/notie.min.css">
    <link rel="stylesheet" href="sweetalert2.min.css">
    <link rel = "stylesheet" href = "/static/css/styles.css">

    <title>Document</title>

   
</head>
<body>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">HotelGav</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="/">Home <span class="sr-only" hidden>(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Rooms
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="/generals">Generals Quarters</a></li>
              <li><a class="dropdown-item" href="/majors">Majors suite</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="/contact" tabindex="-1" aria-disabled="true">Contact Page</a>
          </li>
          <li class="nav-item">
              <a class="nav-link " href="/search-availability" tabindex="-1" aria-disabled="true">Book Now</a>
            </li>
        </ul>
       
      </div>
    </div>
  </nav>



    {{block "content" .}}

    {{end}}


    
     
    <div class ="my-footer-div row"> 
      <div class = "col">
          Left
      </div>
      <div class = "col">
          Middle
      </div>
      <div class = "col">
          Right
      </div>
    </div>

    

   

    




  

   

 <!-- JavaScript Bundle with Popper -->
 <!-- CSS only -->
 
 <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
 <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script>
 
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.1.4/dist/js/datepicker-full.min.js"></script>
<script src="https://unpkg.com/notie"></script>
<script src = "https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


{{block "js" .}}

{{end}}


<script>
  // Example starter JavaScript for disabling form submissions if there are invalid fields


(function () {

'use strict'




// Fetch all the forms we want to apply custom Bootstrap validation styles to
let forms = document.querySelectorAll('.needs-validation')

// Loop over them and prevent submission
 Array.prototype.slice.call(forms)
  .forEach(function (form) {
    form.addEventListener('submit', function (event) {
      if (!form.checkValidity()) {
        event.preventDefault()
        event.stopPropagation()
      }

      form.classList.add('was-validated')
    }, false)
  })


  
})()



  

 


  


  

  
  

const elem2 = document.getElementById("date-picker-test");

const datepicker = new DateRangePicker(elem2, {

  format:"dd/mm/yyyy"
  // ...options
}); 




const alertMessage= (msg,msgType)=>{

  notie.alert({
  type: msgType, // optional, default = 4, enum: [1, 2, 3, 4, 5, 'success', 'warning', 'error', 'info', 'neutral']
  text: msg
})

}

function Prompt(){


 
let toast = function(c){

const {
  msg= "",
  icon="success",
  position= "top-end"
}= c

console.log("here is the object",c)
console.log(msg)


const Toast = Swal.mixin({
  toast: true,
  icon: icon,
  title:msg,
  position: 'top-end',
  showConfirmButton: false,
  timer: 3000,
  timerProgressBar: true,
  didOpen: (toast) => {
    toast.addEventListener('mouseenter', Swal.stopTimer)
    toast.addEventListener('mouseleave', Swal.resumeTimer)
  }
})

Toast.fire({})

}



  let success = function(c){

  const {
    msg= "herylo",
    title= "text",
    footer =""
  
  } = c


    Swal.fire({
  icon: 'success',
  title: title,
  text: msg,
  footer: footer
})


  }

let error = function(c){

  const {
    msg= "",
    title= "text",
    footer =""
  
  } = c


    Swal.fire({
  icon: 'error',
  title: title,
  text: msg,
  footer: footer
})


}

const custom = async (c)=>{


  const {
    msg="",
    title=""
  } = c

  const {value: formValues}= await Swal.fire({
  title: title,
  html:msg,
  backdrop:false,
  showCancelButton:true,
  focusConfirm: false,
  willOpen:()=>{
  const elemDate = document.getElementById("check-dates-form");

    const datepicker = new DateRangePicker(elemDate, {

  format:"dd/mm/yyyy"
  // ...options
}); 
  
  
  },
  preConfirm: () => {
    return [
      document.getElementById('start').value,
      document.getElementById('end').value
    ]
  },

  didOpen:()=>{
    document.getElementById('start').removeAttribute('disabled');
    document.getElementById('end').removeAttribute('disabled');
  }
})

if (formValues) {
  Swal.fire(JSON.stringify(formValues))
}

}




  return{

    toast:toast,
    success:success,
    error:error,
    custom:custom
  }

}





</script>








</body>
</html>
{{end}}