{{template "base" .}}

{{define "content"}}

     <div class = "container m-4">

        <div class = "row">
            <div class = "col">
                <img src="/static/images/generals-quarters.png" class = "room-image img-thumbnail d-block" alt = "room-image" style="max-width: 50%;">
            </div>

        </div>
      <div class ="row">
                <div class = "col">
                    <h1 class = "text-center mt-4">Generals Chambers</h1>
                    <p>your home away from home  set on the majestic waters of the atlantic ocean
                        This is the genera
                        your home away from home  set on the majestic waters of the atlantic ocean
                        your home away from home  set on the majestic waters of the atlantic ocean
                        your home away from home  set on the majestic waters of the atlantic ocean
                        your home away from home  set on the majestic waters of the atlantic ocean
                        your home away from home  set on the majestic waters of the atlantic ocean
                        your home away from home  set on the majestic waters of the atlantic ocean
                        your home away from home  set on the majestic waters of the atlantic ocean
                        your home away from home  set on the majestic waters of the atlantic ocean

                    </p>
                   

                </div>


      </div>

      <div class = "row">
          <div class ="col text-center">
              
            
            <a href="/make-reservation/" class= "btn btn-success">Check availability</a>
          </div>

      </div>

    
{{end}}